*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #f5f5e2e0;
	
}
.wrap-dieuhuong{
	color:#007bff!important;
}
.title-color{
	color: #0082BF;
}
ul li{
	list-style:none;
}
body.wait *, body.wait
{
	cursor: progress !important;
}
a:hover{
	text-decoration:none;
}
.a-collapse{
	color:black;
}
.card-khoahoc{
	position: relative;
	height: 160%;
	margin:unset!important;
}
.neo-bottom{
	position: absolute;
	bottom: 0;	
}
.text-red{
	color: red;
}
.itemChuyenMuc{
	cursor:pointer;
}
.itemChuyenMuc:hover{
	color: blue;
}
#client-nav{
	background-color: #D5EAC3;
}
.row-wrap{
	height: 100%;
	
}
.client-left{
	height: 100%;
}
.client-right{
	height: 100%;
}
.chude{
	color: #D5B54E;
}
.de-body{
	color: #0082BF;
}
#client-carousel img{
	width: 100%;
}
.colorCarousel{
	color: black;
	font-size: 55px;
}
#client-carousel ul li{
	background-color: black;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
#client-carousel ul li.active{
	background-color: #02510e;
}
.stt-question{
	border:1px solid black;
	float:left;
}
.stt-question:hover{
	cursor: pointer;
	background-color: lightblue;
}
.one-question{
	opacity:0;
	visibility:hidden;
	position:absolute;
	
}
.wrap-question{
	position: relative;
}
.question-active{
	opacity:1!important;
	visibility:visible!important;
}
.wrap-button button{
	opacity:0;
	visibility:hidden;
}
.btn-active{
	opacity:1!important;
	visibility:visible!important;
}
.stt-question{
	background: white;
}
.stt-question-active{
	background: lawngreen;
}