<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Learning_Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/admin/main/*</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude>/jsp/admin/share/header.jsp</include-prelude>
      <include-coda>/jsp/admin/share/footer.jsp</include-coda>
      <default-content-type>text/html</default-content-type>
    </jsp-property-group>
    <!-- 
    <jsp-property-group>
    	<url-pattern>/client/*</url-pattern>
    	<page-encoding>UTF-8</page-encoding>
    	<include-prelude>/jsp/client/share/header.jsp</include-prelude>
    	<include-coda>/jsp/client/share/footer.jsp</include-coda>
    	<default-content-type>text/html</default-content-type>
    </jsp-property-group>
     -->
    
  </jsp-config>
</web-app>